@using TwilioOtpDemo.Web
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@inject IHttpContextAccessor _httpContextAccessor;

@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
	var currentMember = await _memberManager.GetCurrentMemberAsync();
	var danishPhoneNumber = _httpContextAccessor.HttpContext.Session.GetString(AuthenticationSurfaceController.UserNameKey);
}
@if (currentMember == null)
{
	using (Html.BeginUmbracoForm<AuthenticationSurfaceController>(action: nameof(AuthenticationSurfaceController.Login)))
	{
		<div>
			<span class="text-lg rounded-md inline-block bg-blue-950 p-2 border text-white border-indigo-500/100">+45</span>
			<input class="rounded-md border border-indigo-500/100 p-2 bg-blue-950 text-white text-lg" type="number" id="member_danish_number" name="member_danish_number" value="@danishPhoneNumber" required>
		</div>
		if (!string.IsNullOrWhiteSpace(danishPhoneNumber))
		{
			<input class="rounded-md border border-indigo-500/100 p-2 bg-blue-950 text-white text-lg" type="number" id="otp" name="otp">
		}
		<input type="hidden" id="redirect_url" name="redirect_url">
		<input class="mt-3 py-2 px-4 text-white rounded-md bg-indigo-500 hover:bg-indigo-400" type="submit" value="Login">
	}
}
else
{
	<h1>Why are you trying to login again?</h1>
}

<script>
	window.onload = async () => {
		document.getElementById('redirect_url').value = new URL(window.location.href).pathname;
	}
</script>