@using TwilioOtpDemo.Web
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@inject IHttpContextAccessor _httpContextAccessor;

@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
	var currentMember = await _memberManager.GetCurrentMemberAsync();
}
@if (currentMember == null)
{
	using (Html.BeginUmbracoForm<AuthenticationSurfaceController>(action: nameof(AuthenticationSurfaceController.Login)))
	{
		<input type="number" id="member_danish_number" name="member_danish_number" value="@_httpContextAccessor.HttpContext.Session.GetString(AuthenticationSurfaceController.UserNameKey)" required>
		<input type="number" id="otp" name="otp">
		<input type="hidden" id="redirect_url" name="redirect_url">
		<input type="submit" value="Login">
	}
}
else
{
	<h1>Why are you trying to login again?</h1>
}

<script>
	window.onload = async () => {
		document.getElementById('redirect_url').value = new URL(window.location.href).pathname;
	}
</script>