@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}
<h1 class="mt-4 text-white text-lg">This is the secret:</h1>
<p class="text-white italic">@Model.Value("secret")</p>